*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    min-height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  
  .welcome {
    display: flex;
    align-items: center; /* Vertikal center */
    justify-content: space-between; /* Memisahkan elemen */
  }
  
  .welcome-image {
    max-width: 50%; /* Atur lebar gambar sesuai kebutuhan */
    height: auto; /* Menjaga rasio aspek gambar */
  }
  
  .welcome-text {
    max-width: 45%; /* Atur lebar teks sesuai kebutuhan */
    display: flex;
    flex-direction: column; /* Mengatur elemen dalam kolom */
    align-items: flex-start; /* Mengatur agar teks berada di kiri */
  }
  .welcome h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 1000;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  .welcome h2 {
    color: #000000;
    font-size: 1em;
  }
  
  .enter {
    /* Gaya tombol yang sudah ada */
    border: none;
    color: #ffffff;
    background-color: rgb(169, 235, 254);
    padding: 15px 30px; /* Menambahkan padding kiri dan kanan */
    border-radius: 15px;
    font-size: 1em;
    font-weight: 1000;
    margin-top: 20px; /* Mengubah margin atas menjadi lebih kecil */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
    transition: background-color 0.3s, color 0.3s; /* Menambahkan transisi */
  }
  
  .enter:hover {
    background-color: #fff;
    color: rgb(169, 235, 254);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan saat hover */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat hover */
  }
  
  span {
    color: #000;
  }
